.calendar {
  border-style: dotted;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  border-style: dotted;
  width: 20vw;
  height: 20vw;
  list-style-type: none;
  margin: 2em;
  padding-bottom: 0%;

}

.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: #ccc;
  border-style: dotted;
}