.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

body{
  background: linear-gradient(to right, #00416a, #e4e5e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}