/* * {
  margin-top: 2;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
} */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

/* body{
  background: linear-gradient(to right, #00416a, #e4e5e6); 
} */

.intro {
  font-family: fantasy;
  color: aliceblue;
  width: 500px;
  margin: 65px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
