/* .navbar {

  color: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);

  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  background-size: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  stroke: black;
  width: 100%;
  border-style: inset;
  border-color: linear-gradient(276deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-width: 15px;
  animation: gradient-anim 0.5s ease-in forwards;
}

.navbar:hover{
  animation: gradient-anim 0.5s ease-in forwards;
}

@keyframes gradient-anim {
  0%{ background-size: 650%;}
  40%{ background-size: 650%;}
  100%{ background-size: 650%;}
}
         
.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}



.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  stroke: black;
  stroke-width: 13px;
  stroke-dasharray: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

li {
  margin-right: 1rem;
  
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  
}

a:hover {
  color: #ccc;
}

.home {
  margin-right: auto;
  margin-left: 0;
  color: aliceblue;
  font-family: 'Rockwell Extra Bold';
}
 */


 .navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #ff0;
}

.home a {
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  
  .navbar li {
    margin: 10px 0;
  }
}